@page "/memberdetail/{Id}"
@using JSEmbed.Services
@using System.ComponentModel
@inject IMemberDetailViewModel ViewModel
@if (ViewModel.Member != null)
{
    <h2>@ViewModel.Member.FirstName @ViewModel.Member.LastName</h2>
    <hr />
}
<div class="row">
    @if (ViewModel.Member != null)
    {
        <div class="col-md-3 scrollcontainer-h-900">
            <JSEmbed.Components.TwitterFeed TwitterAccount="@(ViewModel.Member.TwitterAccount)"></JSEmbed.Components.TwitterFeed>
        </div>
    }
    <div class="col-md-9">
        @if (ViewModel.Member != null)
        {
            <p>Born on @(ViewModel.Member.DateOfBirth.ToShortDateString()). @ViewModel.Member.TimesTopicsUrl </p>
            {
                var currentRole = ViewModel.Member.Roles.Where(r => r.Congress == 116).FirstOrDefault();
                if (currentRole != null)
                {
                    <p>@currentRole.Chamber @currentRole.District @currentRole.State <small>@currentRole.StartDate.ToShortDateString() - @currentRole.EndDate.ToShortDateString()</small> </p>
                    <p>
                        Sponsored @currentRole.BillSponsoredCount bills.
                        Co-sponsored @currentRole.BillCosponsoredCount bills.
                    </p>
                    foreach (var committee in currentRole.Committees)
                    {
                        <span>@committee.Name : @committee.RankInParty</span>
                        <br />
                    }
                }
            }
        }
        else
        {
            <span>Loading..</span>
        }
        <hr />

        <h4>Recent Bills </h4>
        @if (ViewModel.RecentSponsoredBills != null)
        {
            var sponsoredBillGroups = ViewModel.RecentSponsoredBills.Bills.GroupBy(b => b.PrimarySubject);

            foreach (var subjectGroup in sponsoredBillGroups)
            {
                <span class="badge badge-info mr-2">@subjectGroup.Key: @subjectGroup.Count()</span>
            }

            foreach (var g in ViewModel.RecentSponsoredBills.Bills)
            {
                <div class="row p-1">
                    <div class="col-1">@g.DateIntroduced.ToShortDateString()</div>
                    <div class="col-2">@g.PrimarySubject</div>
                    <div class="col-6">@g.BillTitle</div>
                    <div class="col-3">@g.LatestMajorAction (@g.DateLatestMajorAction.ToShortDateString())</div>
                </div>
            }
        }
        else
        {
            <span>Loading Bill information..</span>
        }
    </div>
</div>

@code {
    [Parameter] public string Id { get; set; }
    [Inject]
    public JSEmbedService JSEmbedService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += OnPropertyChangedEventHandler;
        ViewModel.MemberId = Id;
        await ViewModel.GetMemberDetail();
    }

    async void OnPropertyChangedEventHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnPropertyChangedEventHandler;
    }


}
